nav{
     background: darkblue;
}

ul, body{
    margin: 0;
}

ul li{
    text-align: center;
}

nav ul li{
    display: inline-block;
    margin: 10px;
}

nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}