footer{
    text-align: center;
}

body footer{
    margin: 0;
    padding: 0;
    height: 40px;
    background: darkblue;
    color:  white;    
}

nav ul li{
    display: inline-block;
    margin: 10px;
}

nav {
    background: darkblue;
    text-align: center;
}

nav ul li a{
    color: white;
}

h1{
    text-align: center; 
    font-size: 42px;   
}